@font-face {
  font-family: graphik;
  src: url(Graphik-Font-Family/GraphikRegular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* img {
  width: 100%;
  display: block;
} */
span {
  color: #0077b6;
}
.nav h3 {
  color: #f5f5ff;
}
.btn {
  padding: 17px 32px;
  background: #0077b6;
  border-radius: 20px;
  margin: 0px;
  color: #fff;
  border-radius: 100px;
  letter-spacing: 0;
  transition: 0.4s;
  width: 100%;
  /* display: block; */
  text-transform: capitalize;
}
.btn:active,
.proceed-btn:active,
.login-btn:active,
.signup-btn:active,
.registers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.btn:hover,
.proceed-btn:hover,
.login-btn:hover,
.signup-btn:hover,
.registers:hover{
  background-color: #020231;
}
.container {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(2, 3, 52, 0.59)), url(image/Logihub\ landing\ page.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  opacity: 1;
  animation: grow 2s ease-out 0s 1 both;
}
.header {
  padding: 20px;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  
}
.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  display: inline-block;
  position: relative;
  padding: 8px 12px;
}
.nav ul li a {
  color: #f5f5ff;
  animation: expand 2s ease-out 1.5s 1 both;
}
.nav ul li::after {
  background: #020231;
  content: "";
  width: 0;
  height: 1px;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav ul li:hover::after {
  width: 100%;
}
.registers {
  background-color: #0077B6;
  padding: 16px 32px;
  color: aliceblue;
  padding: 16px 32px;
  border-radius: 50px;
}
.hero1 {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  animation: expand 2s ease-out 1.5s 1 both;
}
.hero1 h1 {
  font-size: 46px;
  margin-bottom: 15px;
}
.hero1 p {
  margin: 10px 0 40px;
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
}
.hero1 a {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  background-color: #0077b6;
  border-radius: 1000px;
  color: #fff;
}
.hero1 a:hover {
  background: #020231;
  transition: 1s;
}
.toggle-btn,
.close-btn {
  display: none;
}
/* nav media */
@media screen and (max-width: 865px) {
  .hero1 h1 {
    font-size: 30px;
  }
  .hero1 p {
    font-size: 12px;
  }
  .hero1 a {
    padding: 12px 26px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    height: 80vh;
    width: 100%;
    background: #fff;
    top: 0;
    right: 100%;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .toggle-btn,
  .close-btn {
    display: block;
    /* color: #fff; */
    background: none;
    border: none;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
  }
  .toggle-btn{
    color: #fff;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links li {
    margin: 5px;
  }
  .registers {
    padding: 12px 26px;
  }
  .nav ul li a {
    color: black;
  }
}

@keyframes grow{
  0%{
    opacity: 0;
    width: 0%;
  }
  100%{
    opacity: 1;
    width: 100%;
  }
}

@keyframes expand{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
/* Parthners */
.pathners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  background-color: #F5F5FF;
}
.pathners img{
  margin: 53px 0;
}
@media screen and (max-width: 770px) {
  .pathners {
    flex-direction: column;
  }
}
/* solution */
.solutions {
  width: 100%;
  height: 100%;
  background: #fff;
}
.solution-header {
  display: flex;
  justify-content: space-around;
  margin: 96px 0 38px 0;
}
.solution-header h2 {
  left: 0px;
  top: 0px;
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  font-size: 42.9109px;
  line-height: 56px;
  margin: 0 0 40px;
}
.solution-bar {
  display: flex;
  justify-content: space-around;
}
.solution-col {
  margin: 10px;
  font-size: 17.1px;
}
.solution-col h5 {
  line-height: 18.8px;
  margin: 20px 0;
  font-weight: 600;
}
.solution-img{
  width: 46px;
}
.solution-col p {
  line-height: 30px;
  font-weight: 400;
}
.solution-line {
  border: 0.1px solid gray;
  width: 100%;
  /* max-width: 180px; */
  margin: 40px auto;
}
.p {
  margin-bottom: 50px;
}

@media screen and (max-width: 770px) {
  .solution-header {
    flex-direction: column;
    text-align: center;
  }
  .solution-header h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .solution-bar {
    flex-direction: column;
    margin: 0 auto;
  }
}

/* Why us */
.why-us {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  background-color: #F5F5FF;
  border: 1px solid #F5F5FF;
}
.whys{
  margin: 0 auto;
  height: 100%;
  width: 93%;
  /* border: 1px solid black; */
}
.why-us-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  animation: expand 2s ease-out 1.5s 1 both;
}
.why-us h3 {
  font-weight: 600;
  font-size: 41.8667px;
  line-height: 46px;
  margin: 30px 0;
  margin-top: 100px;
}
.why-us-col {
  /* flex-basis: 31%; */
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px 12px;
}
.why-us-col h5 {
  font-weight: 500;
  font-size: 33.4933px;
  line-height: 37px;
  color: #020231;
}
.why-us-col img{
  width: 65px;
  height: 100px;
}
.why-us-col p {
  font-style: normal;
  font-weight: 400;
  font-size: 16.7467px;
  line-height: 29px;
  text-align: center;
  color: rgba(2, 2, 49, 0.6);
}

@media screen and (max-width: 770px) {
  .why-us-bar {
    flex-direction: column;
  }
}

/* vendor */
.vendor {
  width: 100%;
  /* max-width: 1312px; */
  height: 100%;
  /* max-height: 639px; */
  /* padding: 50px 0; */
  color: #fff;
  margin: 60px 0 174px 0;
}
.vendor-bar {
  width: 90%;
  margin: 0 auto;
  background: #0c1534;
  border-radius: 40px;
  height: 639px;
  padding: 72px 88px;
}
.vendor-column {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.vendor-img {
  flex-basis: 32%;
  position: relative;
  /* width: auto; */
  width: 441px;
  height: 495px;
}
.vendor-col {
  width: 100%;
}
.vendor h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 54px;
}
.vendor p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 70px;
  /* max-width: 533px;
  max-height: 168px;
  height: 100%;
  width: 100%; */
}
@media screen and (max-width: 1000px) {
  .vendor-column {
    flex-direction: column;
    align-items: center;
  }
  .vendor-img {
    display: none;
  }
  .vendor-btn{
    padding: 10px 10px;
    margin: 0 auto ;
  }
  .vendor p{
    margin-bottom: 80px;
    font-size: 10px;
  }
}
@media screen and (max-width: 1300px) {
  .vendor-img {
    flex-basis: 32%;
    position: relative;
    width: 341px;
    height: 395px;
  }
  .vendor p {
    margin-bottom: 80px;
    max-width: 333px;
    max-height: 148px;
    height: 100%;
    width: 100%;
    font-size: 12px;
  }
  /* .vendor-btn{
    padding: 10px 20px;
    margin: 0 auto ;
    font-size: 10px;
  } */
}

/* testimony */
.testimony {
  background-image: url(image/Rectangle\ 12.png);
  width: 100%;
  height: 100%;
  /* max-width: 1512px;
  max-height: 709px; */
  /* padding: 40px; */
}
.testimony-bar {
  width: 90%;
  margin: auto;
}
.testimony-header {
  text-align: left;
}
.testimony h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 30px;
}
.testimony-header p {
  max-width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin-bottom: 50px;
}
.testimony-column {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.testimony-col {
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 16px 32px;
  flex-basis: 31%;
  box-shadow: 12px 12px 35px rgba(0, 119, 182, 0.11);
  height: 100%;
  border: none;

}
.testimony-col p,
h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  margin: 30px 0;
}
.testimony-col h6 {
  font-weight: 600;
}
@media screen and (max-width: 770px) {
  .testimony-column {
    flex-direction: column;
    width: 92%;
  }
}
/* footer */
footer {
  width: 100%;
  height: auto;
  background-color: #0c1534;
  padding: 40px 0;
  color: #f5f5ff;
}
.footer-bar {
  width: 80%;
  margin: 0 auto;
}
.footer-col {
  display: flex;
  justify-content: space-between;
}
.footer-line {
  border: 0.1px solid #646464;
  margin: 30px 0;
}
.social-icon img {
  margin: 5px;
}
@media screen and (max-width: 700px) {
  footer {
    font-size: 12px;
  }
  .social-icon img {
    width: 10%;
    margin: 3px;
  }
}

/* Login page */
.log {
  width: 100%;
  background-color: #020231;
}
.logos {
  padding: 20px;
}
.login {
  display: flex;
  height: 100%;
  color: #fff;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}
.login-img {
  object-fit: cover;
  width: 500px;
  display: flex;
  align-items: center;
  align-content: center;
}
.login-page {
  /* margin: auto 0; */
  text-align: center;
}
.login-page h4 {
  margin: 50px 0 10px;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}
.login-page p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.social {
  background-color: #fff;
  padding: 15px 13px;
  width: 90px;
  color: #0c1534;
}
.social-container {
  margin: 10px 0;
}
.social-container a {
  border: 1px solid #dddddd;
  border-radius: 3%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 50px;
  width: 50px;
}
.form {
  margin: 20px;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 18px 22px;
  background: #F5F5FF;
}
.col {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 30px;
}

.login-btn,
.signup-btn {
  background-color: #0077b6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 90%;
}

/* button:hover {
  opacity: 0.8;
} */
@media screen and (max-width: 600px) {
  .login-img {
    display: none;
  }
}
#result-box {
  display: none;
  font-size: 20px;
  color: #fff;
  background-color: #020231;
  height: 10vh;
  display: flex;
  width: 100%;
}

/* Order page */
.orderPage{
  background-color: #FFFFFF;
  max-width: 1512px;
  width: 100%;
}
.orderPage .nav-menu-link,
.orderPage h3{
  color: #323232;
}
.order h2{
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  margin: 70px 0;
}
.orderPage .order{
  color: #020231;
}
.order{
  width: 80%;
  margin: 0 auto;
  /* padding: 0px 30px; */
}
.order .process{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 30px;
  padding: 0 10px;
}
.process p{
  width: 73px;
  height: 73px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.process .step{
  background-color: #0077b6;
  margin-bottom: 0px;
  color: #F5F5FF;
}
.process .line{
  border: 0.1px solid #03045E;
  opacity: 0.2;
  display: flex;
  align-self: center;
  width: 447px;
  height: 0px;
  margin: 0;
}
.process .step-name,
.order-col h4{
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.order .current{
  background-color: #F5F5FF;
  color: #0077b6;
}
.order .order-col{
  display: grid;
  /* grid-template-columns: auto auto; */
  /* display: flex;
  justify-content: center; */
  /* padding: 0; */
  /* max-width: 1512px; */
  /* width: 100%; */
}
.pickup,
.delivery-details{
  margin: 20px;
  text-align: start;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  flex-direction: column;
}
.order-form,
#category{
  width: 100%;
  height: 50px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 18px 22px;
  background: #F5F5FF;
}
label,
.proceed-btn{
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.d-lines{
  width: 100%;
  height: 0px;
  border: 0.1px solid #03045E;
  opacity: 0.2;
  display: flex;
  align-self: flex-start;
  margin: 20px 0;
  text-align: start;
}
#proceed{
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.proceed-btn{
  padding: 16px 80px;
  width: 224px;
  height: 50px;
  background: #0077B6;
  border-radius: 1000px;
  border: none;
  color: #fff;
  margin: 0 auto;
}

@media screen and (max-width:700px) {
  .order h2{
    font-size: 30px;
  }
  .process p{
    width: 43px;
    height: 43px; 
  }
  .process .step-name,
  .order-col h4{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
  }
  .step-name{
    font-size: 6px;
  }
  .order-col{
    flex-direction: column;
    align-items: center;
  }
  .delivery-details{
    margin-left: 0px;
    margin-top: 30px;
  }
}

/* PAYMENT PAGE */
.payment-page{
  margin: 80px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.payment-page h5,
label,
.payment-btn{
  font-weight: 600;
  font-size: 16px;
  line-height: 18px
}
.payment h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
.amount{
  font-weight: 500;
  font-size: 32px;
  line-height: 35px;
  color: #0077B6;
}
.payment p{
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: rgba(2, 2, 49, 0.6);
}
.payment-col1 input[type]{
  width: 100%;
  height: 50px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 18px 22px;
  background: #F5F5FF;
}
.payment-col1{
  width: 45%;
}
.payment-col2{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px ;
}
.operators h5, p{
  margin-top: 10px;
}
.operator-line{
  width: auto;
}
.payment{
  width: 45%;
  cursor: pointer;
}
.payment-method{
  border: 1px solid black;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  /* gap: 32px; */
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(2, 2, 49, 0.5);
  border-radius: 4px;

}
.payment-col3{
  margin-bottom: 50px;
}
.payment-col4{
  margin: 0 auto;
  width: 45%;
}
.payment-col2,
.operator-line {
  display: none;
}
@media screen and (max-width:700px) {
  .payment-page{
    flex-direction: column;
    margin: 0 auto;
  }
  .payment-col1{
    width: 100%;
  }
  .payment-col4{
    display: flex;
    width: 100%;
    margin-bottom: 40px;
  }
  .payment{
    width: 100%;
    margin: 0 auto;
  }
  .orderPage{
    margin: 0 auto;
  }
}

/* Confirmation */
.payment-way{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.payment-way a{
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #0077B6;
}
.payment-way p{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #020231;
}









